@import 'tailwindcss';

@theme inline {
	--color-primary: #3e2f28;
	--color-secondary: #f2efe9;
	--color-accent: #d4af37;
	--color-neutral-support: #a68f81;
	--color-tertiary: #3b5844;
	--color-quaternary: #d0d8c3;

	--font-heading: var(--font-playfair);
	--font-body: var(--font-inter);
}

/* Custom Utilities */
.text-balance {
	text-wrap: balance;
}

body {
	background-color: var(--color-secondary);
	color: var(--color-primary);
	font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-heading);
}
